body{
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 50;
  text-align: center;
  color: white;
  background: url("imagens/download.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
};